{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/somebody/repos","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4949"], "X-Ratelimit-Reset":["1377509091"], "X-Oauth-Scopes":[""], "X-Accepted-Oauth-Scopes":["repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin"], "X-Github-Media-Type":["github.beta; format=json"], "Etag":["\"d751713988987e9331980363e24189ce\""]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Mon, 26 Aug 2013 09:07:02 GMT"}],"recorded_with":"VCR 2.5.0"}