{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/repos/winston/dotfiles/contents/Gemfile","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Authorization":["token <<ACCESS_TOKEN>>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4702"], "X-Ratelimit-Reset":["1377529601"], "X-Oauth-Scopes":["public_repo"], "X-Accepted-Oauth-Scopes":["repo, public_repo, repo:status, repo:deployment, delete_repo, site_admin"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Mon, 26 Aug 2013 14:50:40 GMT"}],"recorded_with":"VCR 2.5.0"}