{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/thisisaverylongloginnamethatdontexist","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"], "X-Ratelimit-Limit":["60"], "X-Ratelimit-Remaining":["58"], "X-Ratelimit-Reset":["1377963610"], "X-Github-Media-Type":["github.beta; format=json"]},"body":{"encoding":"UTF-8","base64_string":"eyJtZXNzYWdlIjoiTm90IEZvdW5kIn0=\n"},"http_version":null},"recorded_at":"Sat, 31 Aug 2013 14:40:21 GMT"}],"recorded_with":"VCR 2.5.0"}